*{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 100;
	font-size: 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
	border-radius: 5px;
}
body{
	margin: 0px 50px 0 50px;
	background-color: whitesmoke;
}
.divClass {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-items: space-between;
	color: #333;
	min-height: 230px;
	background-color: #3085FF50;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}
.divClass h1 {
	position: absolute;
	background-color: #FFFFFF;
	width: 100%;
	left: 0px;
	top: -22px;
	text-align: center;
	padding-top: 10px;
	height: 50px;
	font-size: 1.7em;
}
.divClass h3{
	text-align: center;
	display: block;
	padding-top: 20px;
	width: 40%;
	height: 100px;
	font-size: 2em;
	background-color: rgb(255, 255, 1);
	margin: 80px;
}
.divClass h4 {
	text-align: center;
	margin: auto;
	width: 40%;
	height: 100px;
}
#idSpan {
	text-align: center;
}
.boton-restaurant{
	height: 80px;
	width: 150px;
	background-color: #131313;
	color: whitesmoke;
	text-decoration: none;
	text-align: center;
	padding: 20px 10px 10px 10px;
	margin-top: 30px;
	transition: all .4s;
	border-radius: 5px;

}
#thirdDiv{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	padding: 20px 40px 20px 40px;
	background-color: #999999;
	max-width: 1000px;
	min-width: 510px;
}
.list {
	display: block;
	height: 540px;
	margin-left: 20px;
	width: 400px;
	border: 1px solid #ccc;
	padding-top: 30px;
}
.list-li {
	color: whitesmoke;
	text-decoration: none;
	display: block;
	padding: 10px 0px 10px 0px;
}
.boton-restaurant:hover {
	color: #881414;
	background-color: #fff;
}
.boton-restaurant:active {
	background-color:#881414 ;
	color: #fff;
}
.imagen {
	width: 400px;
	height: 600px;
	margin-left: 20px;
}
@media only screen and (max-width: 1038px){
	#thirdDiv{
		justify-content: center;
	}
}